@import 'variables';
.panda {
  min-width: 90%;
}

.section {
  display: flex;
  justify-content: center;
  position: relative;
}

.mood {
  position: absolute;
  bottom: 0;
  right: 25%;
  max-width: 150px;
  transform: translateX(50%);
  color: #dadada;

  @media (min-width: $tablet) {
    max-width: none;
  }
}
