$color-text-primary: rgb(67, 72, 95);
$color-background-primary: rgb(137, 145, 148);
$color-accent: rgb(60, 65, 90);
$color-border: rgba(0, 0, 0, 0.1);
$color-main-light: #ffffff;
$color-main-dark: #333333;
$color-text-additional: #1a1a1a;
$color-background-additional: #f4f4f4;
$color-additional: #614519;
$color-body: #3a3a3a;
$color-error: #fa0404;

$color-background-form: #f1f4ff63;
$color-background-button: #f1f4ff49;
$color-background-button-add: #f1f4ff49;
$color-background-contact: #bec4d8b9;
$color-header: #000000ce;
$font-main: 'Open Sans', sans-serif;
$font-weight-major: 400;
$font-weight-minor: 300;
$font-size-title: 38px;
$font-size-subtitle: 20px;
$font-size-subtitle-mobile: 18px;
$font-size-major: 18px;
$font-size-major-mobile: 16px;

$mobile: 400px;
$tablet: 768px;
$desktop: 1200px;

$spacing-major: 5px;
