@import 'variables';

.list {
  list-style: none;
  margin: 0;
  margin-left: -10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 20px;
  max-height: 75vh;
  padding: 10px;
  overflow-y: scroll;
  border-radius: 2 * $spacing-major;
  box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.45);

  @media screen and (min-width: $tablet) {
    width: 47%;
  }

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
