@import 'variables';

.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  padding: 3 * $spacing-major 2 * $spacing-major;
  overflow-y: scroll;
  border-radius: 2 * $spacing-major;
  box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.45);

  @media screen and (min-width: $tablet) {
    max-height: 78vh;
  }

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
